**PYTHON NOTES**

In [211]:
5**3

125

In [212]:
15 // 7

2

In [213]:
3!=4

True

In [214]:
True and False

False

In [215]:
True or False

True

In [216]:
not True

False

In [217]:
a=10
a+=1
a

11

In [218]:
type(a) #NO LONG_INT, SHORT_INT ONLY INT

int

In [219]:
a=1e-2
b=5e+2
print(a)
print(b)

0.01
500.0

In [220]:
type(4.3)

float

In [221]:
int(False)

0

In [222]:
int(True)

1

In [223]:
bool(1)

True

In [224]:
bool(None)

False

In [225]:
bool("")

False

In [226]:
bool([])

False

In [227]:
bool(())

False

In [228]:
bool({})

False

In [229]:
bool(range(0))

False

In [230]:
type(None)

NoneType

In [231]:
#Single line comment 
'''
multiline
comment
'''

'\nmultiline\ncomment\n'

In [232]:
list_1=[1,2,3,4,5,True,"salman"]
type(list_1)

list

In [233]:
list_1[0]="ONE"
list_1

['ONE', 2, 3, 4, 5, True, 'salman']

In [234]:
len(list_1)

7

In [235]:
list_1[-1]

'salman'

In [236]:
list_1[3:6]

[4, 5, True]

In [237]:
list_1[-3:-1]

[5, True]

In [238]:
list_1[-1:-3]

[]

In [239]:
list_1.append("RAJU")
list_1

['ONE', 2, 3, 4, 5, True, 'salman', 'RAJU']

In [240]:
list_1.remove("RAJU")
list_1

['ONE', 2, 3, 4, 5, True, 'salman']

In [241]:
list_1.insert(0,"ZERO")

In [242]:
list_1

['ZERO', 'ONE', 2, 3, 4, 5, True, 'salman']

In [243]:
list_1.pop(0)
list_1

['ONE', 2, 3, 4, 5, True, 'salman']

In [244]:
list_2=["B",2,45,6]
list_1.extend(list_2)
list_1

['ONE', 2, 3, 4, 5, True, 'salman', 'B', 2, 45, 6]

In [245]:
list_1.append(list_2)

In [246]:
list_1

['ONE', 2, 3, 4, 5, True, 'salman', 'B', 2, 45, 6, ['B', 2, 45, 6]]

**Extend Link element of list directly**<br> 
**Append add list as another element**

**Tuple()**<br>
A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses ( and ), separated by commas.

In [247]:
my_tuple=(1,2,4,5,"tere")

In [248]:
my_tuple[1]

2

In [249]:
my_tuple[1]='five'

TypeError: 'tuple' object does not support item assignment

In [ ]:
list_1.count(3)

1

In [ ]:
my_tuple.count(5)

1

**DICTIONARY**

In [ ]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [ ]:
person1['name']

'John Doe'

In [ ]:
'name' in person1

True

In [ ]:
'John Doe' in person1 #only apply to key not to value

False

In [ ]:
person1.pop('name')

'John Doe'

In [ ]:
person1

{'sex': 'Male', 'age': 32, 'married': True}

In [ ]:
person1.keys()

dict_keys(['sex', 'age', 'married'])

In [ ]:
person1.values()

dict_values(['Male', 32, True])

In [ ]:
person1.items()

dict_items([('sex', 'Male'), ('age', 32), ('married', True)])

In [ ]:
"sala".count("a")

2

In [ ]:
a=10
if a==10:
    print("TEN = {}".format(a))
else:
    print("NO_TEM")

TEN = 10

In [ ]:
b=-1
if b>0:
    print("POSITIVE")
elif b<0:
    print("NEG")
else:
    print("ZERO")

NEG

In [ ]:
num=4
result = 'even' if num % 2 == 0 else 'odd'
print(result)

even

In [ ]:
a=1
while a<=50:
    a+=1
print(a)

51

In [ ]:
for c in "SALMAN":
    print(c)

S
A
L
M
A
N

In [ ]:
for i in {"NAME":"Salman","Age":12}:
    print(i)

NAME
Age

In [ ]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [ ]:
print("SAL",i)

SAL Age

In [254]:
for r in range(1,20,2):
    print(r)

1
3
5
7
9
11
13
15
17
19

In [261]:
def findeven(l1):
    l2=[]
    for i in l1:
        if i%2==0:
            l2.append(i)
    return l2

In [263]:
findeven([2,2,3,4,5,6,8,14,9,10])

[2, 2, 4, 6, 8, 14, 10]

In [282]:
def divided(a,b):
    try:
        print(a/b)   
    except ZeroDivisionError:
        print("F")

In [281]:
divided(12,3)

4.0

In [311]:
import math
import statistics as st

In [313]:
st.mean([1,2,3])

2

In [314]:
math.ceil(1.2)

2

In [315]:
math.isnan(a)

False

In [316]:
math.sqrt(4)

2.0

In [318]:
math.log10(10)

1.0