In [3]:
import pandas as pd

In [4]:
covid_df=pd.read_csv('italy-covid-daywise.csv')

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.8+ KB

In [7]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [8]:
covid_df.shape

(248, 4)

In [9]:
covid_df['new_cases'].shape

(248,)

In [10]:
type(covid_df)

pandas.core.frame.DataFrame

In [11]:
type(covid_df['new_cases']) 
# data type of a column in pandas

pandas.core.series.Series

In [12]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [13]:
covid_df.new_tests.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: new_tests, dtype: float64

# Accessing element

In [32]:
covid_df['new_cases'][0]

0.0

In [18]:
covid_df.at[124,'new_cases']

1900.0

In [20]:
new_covid_df=covid_df[['date','new_cases']]
new_covid_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [21]:
copy_covid_df=covid_df.copy()

In [36]:
covid_df.loc[0]

date          2019-12-31
new_cases            0.0
new_deaths           0.0
new_tests            NaN
Name: 0, dtype: object

In [38]:
covid_df.iloc[-1] # purely index

date          2020-09-03
new_cases         1326.0
new_deaths           6.0
new_tests            NaN
Name: 247, dtype: object

In [40]:
covid_df.tail()

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [41]:
covid_df.new_cases.first_valid_index()

0

In [43]:
covid_df['new_tests'].first_valid_index()

111

In [47]:
covid_df.loc[110]

date          2020-04-19
new_cases         3491.0
new_deaths         480.0
new_tests            NaN
Name: 110, dtype: object

In [54]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
122  2020-05-01     1872.0       285.0    43732.0
207  2020-07-25      252.0         5.0    28059.0
12   2020-01-12        0.0         0.0        NaN
82   2020-03-22     6557.0       795.0        NaN
145  2020-05-24      669.0       119.0    34206.0
171  2020-06-19      331.0        66.0    28570.0
242  2020-08-29     1460.0         9.0    64294.0
79   2020-03-19     4207.0       473.0        NaN
73   2020-03-13     2651.0       189.0        NaN
131  2020-05-10     1083.0       194.0    31384.0

In [56]:
covid_df.head()

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [60]:
total_cases=covid_df.new_cases.sum()
total_deaths=covid_df['new_deaths'].sum()
print("total cases are {} and total death are {}".format(total_cases,total_deaths))

total cases are 271515.0 and total death are 35497.0

In [65]:
death_rate=total_deaths/total_cases
print("Death rate is  {:.2f} %".format(death_rate*100))

Death rate is  13.07 %

In [68]:
total_test=935310+covid_df['new_tests'].sum()
total_test

5214766.0

In [72]:
(covid_df['new_cases'].sum()/total_test)*100

5.206657403227681